@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

//================================
// 汎用クラススイッチ
//================================

//フロートリスト
// フロート用のリストが生成されます
$floatListStyle: true;

//================================
// 汎用クラス中身
//================================

//フロートリスト
@if $floatListStyle {
	.float-list {
		@extend %extend-cf;
		li {
			float:left;
		}
	}
}

.side-title{
  text-align: center;
  font-family: Meiryo;
  font-weight: bold;
  font-size: 13px;
  line-height: 24.87px;
  color: #666666;
  border-bottom: 2px solid #67b822;
  padding: 10px;
  margin: 0 6px;
}
.side-text{
  font-family: Meiryo;
  font-size: 12px;
  color: #222222;
  padding: 13px 10px;
  line-height: 1.2;
}
// ================
// Icon Classes
// ================
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Marti';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}
.icon-out:before {
  content: "\e601";
}
.icon-in:before {
  content: "\e602";
}
.icon-user:before {
  content: "\e603";
}
.icon-time:before {
  content: "\e60d";
}
.icon-location:before {
  content: "\e60e";
}
.icon-phone2:before {
  content: "\e60f";
}
.icon-smiley:before {
  content: "\e610";
}
.icon-list:before {
  content: "\e611";
}
.icon-bus:before {
  content: "\e612";
}
.icon-clipboard:before {
  content: "\e613";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-play-arrow:before {
  content: "\e01b";
}